<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.imirror">
    <!-- 設定讀寫及相機權限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相機功能 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Imirror">
        <activity android:name=".other.ProgressBar"></activity>
        <activity android:name=".MedicalReserveQuery" />
        <activity android:name=".MedicalReserve" />
        <activity android:name=".FaceReport" />
        <activity android:name=".cameraActivity.DisplayUtil" />
        <activity android:name=".cameraActivity.CameraTopRectView" />
        <activity android:name=".cameraActivity.CameraSurfaceView" />
        <activity android:name=".cameraActivity.TakePicActivity" />
        <activity android:name=".classifier.Classifier" />
        <activity android:name=".classifier.TensorFlowImageClassifier" />
        <activity android:name=".FaceMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 設定一個臨時權限 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cindy.imirror.CameraEx"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>